body {
  background-color: aqua;
  font-family: "Playwrite NZ Basic", cursive;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
a {
  color: rgb(141, 34, 98);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.search-form {
  display: flex;
}
.search-form-input {
  background-color: rgb(156, 231, 231);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: rgb(36, 150, 70);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: brown;
  font-weight: 500;
}
.weather-app-details strong {
  color: rgb(182, 18, 146);
}
.weather-app-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
}
.weather-app-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
